<header header="PRODUKS" />
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary col-md-1 col-xs-12" ng-click="openForm()">
					<span class="fa fa-plus"></span>
				</button>

				<form ng-submit="searchParams.page=1;search();" class="pull-right col-md-6 col-xs-12">
					<fieldset>
						<div class="form-group col-md-10 col-xs-12">
							<input type="text" class="form-control" ng-model="searchParams.q" placeholder="Search..." autofocus ng-change="search(searchParams.q)">
						</div>
						<button type="submit" value="Search" class="btn btn-default col-md-2 col-xs-12">
							<span class="fa fa-search"></span>
						</button>
					</fieldset>
				</form>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Kode</th>
										<th>Nama</th>
										<th>Keterangan</th>
										<th>Stok</th>
										<th>Harga</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="produk in produks">
										<td ng-bind="produk.kode"></td>
										<td><a href="" ng-click="openForm(produk)"><span ng-bind="produk.nama"></a></span></td>
										<td ng-bind="produk.keterangan"></td>
										<td ng-bind="produk.stok"></td>
										<td>{{produk.harga| currency:"Rp. "}}</td>
										<td>
											<a href="" class="btn btn-info btn-xs" ng-click="openForm(produk)" title="Edit Produk {{ produk.nama }}">
												<span class="fa fa-edit"></span>
											</a>
											<a href="" class="btn btn-danger btn-xs" ng-click="remove(produk)" title="Hapus Produk {{ produk.nama }}">
												<span class="fa fa-trash"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-md-6">
								<pagination total-items="produks.meta.totalElements" ng-model="page" items-per-page="produks.meta.size" ng-change="search(searchParams)"></pagination>
							</div>
							<div class="col-md-6">
								<div class="pagination alert pull-right">Found <span ng-bind="produks.meta.totalElements"></span> entries</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.col -->
</div>

<script type="text/ng-template" id="produk.form.html">
	<div class="modal-header">
		<h3 class="modal-title">Tambah Produk</h3>
	</div>
	<form name="produkForm" ng-submit="submit(produk, produkForm)" novalidate validation-schema schema="produk">
		<div class="modal-body">
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="kode">Kode Produk</label>
					<div class="controls">
						<input type="text" id="kode" name="kode" class="form-control" ng-model="produk.kode" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="nama">Nama Produk</label>
					<div class="controls">
						<input type="text" id="nama" name="nama" class="form-control" ng-model="produk.nama" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="stok">Stok Produk</label>
					<div class="controls">
						<input type="text" id="stok" name="stok" class="form-control" ng-model="produk.stok" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="harga">Harga Produk</label>
					<div class="controls">
						<input type="text" id="harga" name="harga" class="form-control" ng-model="produk.harga" required>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="keterangan">Keterangan</label>
					<div class="  controls">
						<!-- <textarea rows="2" id="keterangan" name="keterangan" class="form-control" ng-model="produk.keterangan"></textarea> -->
						<text-angular style="min-height: 150px; height: 200; overflow: auto;" id="keterangan" name="keterangan" class="form-control" ng-model="produk.keterangan"></text-angular>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<input type="submit" value="Save" class="btn btn-primary col-md-3 col-xs-12">
			<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
		</div>
	</form>
</script>
