<header header="DATA PEMBELIAN" />
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary col-md-1 col-xs-12" ng-click="openForm()">
					<span class="fa fa-plus"></span>
				</button>

				<form ng-submit="searchParams.page=1;search();" class="pull-right col-md-6 col-xs-12">
					<fieldset>
						<div class="form-group col-md-10 col-xs-12">
							<input type="text" class="form-control" ng-model="searchParams.q" placeholder="Search..." autofocus ng-change="search(searchParams.q)">
						</div>
						<button type="submit" value="Search" class="btn btn-default col-md-2 col-xs-12">
							<span class="fa fa-search"></span>
						</button>
					</fieldset>
				</form>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table" ng-repeat="pembelian in pembelians">
								<thead>
									<tr>
										<th>Nomor Transaksi</th>
										<th>Penjual</th>
										<th>Surat Jalan</th>
										<th>Produk</th>
										<th>Kasir</th>
										<!-- <th>Total Transaksi</th> -->
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="" ng-click="openForm(pembelian)"><span ng-bind="pembelian.nomor"></a></span></td>
										<td ng-bind="pembelian.penjual"></td>
										<td ng-bind="pembelian.surat"></td>
										<td>
										<a class="btn btn-xs btn-default" ng-click="addProduk(pembelian)">
												<i class="glyphicon glyphicon-pencil" ng-show="pembelian.produks.length > 0"></i>
												<i class="glyphicon glyphicon-plus" ng-show="pembelian.produks.length < 1"></i>
											</a>
											<!-- 
											<span ng-repeat="r in pembelian.produks">
											<span class="label label-default" ng-bind="r.nama"></span>&nbsp;
											</span>
											 -->
										</td>
										<td ng-bind="pembelian.kasir"></td>
										<!-- <td ng-bind="pembelian.total"></td> -->
										<td>
											<a href="" class="btn btn-info btn-xs" ng-click="openForm(pembelian)" title="Edit Pembelian {{ pembelian.nomor }}">
												<span class="fa fa-edit"></span>
											</a>
											<a href="" class="btn btn-danger btn-xs" ng-click="remove(pembelian)" title="Hapus Pembelian {{ pembelian.nomor }}">
												<span class="fa fa-trash"></span>
											</a>
										</td>
									</tr>
									<tr>
										<td colspan='5'>
											<table class="table" ng-init="pembelians.total = {}">
											<caption>Detail Pembelian dengan Nomor Transaksi {{pembelian.nomor}} {{pembelian.penjual}}</caption>
												<thead>
												<tr>
													<th>KodeProduk</th>
													<th>Nama</th>
													<th>Jumlah</th>
													<th>Harga</th>
													<th>Total</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="r in pembelian.produks">
													<td ng-bind="r.kode"></td>
													<td ng-bind="r.nama"></td>
													<td>1</td>
													<td>{{r.harga| currency:"Rp. "}}</td>
													<td ng-init="pembelians.total.harga =pembelians.total.harga + r.harga">{{r.harga| currency:"Rp. "}}</td>
													<td><a href="" class="btn btn-danger btn-xs" ng-click="removeProduk(pembelian,r)" title="Hapus Produk {{r.nama}}  dari Pembelian {{ pembelian.nomor }}">
												<span class="fa fa-trash"></span></a></td>
													
												</tr>
												<tr class="info">
													<td colspan="4" class="text-right"><span class="control-label">Total Transaksi</span></td>
													<td class="info control-label">{{pembelians.total.harga | currency:"Rp. "}}</td>
												</tr>
											</tbody>
											</table>
										<td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-md-6">
								<pagination total-items="pembelians.meta.totalElements" ng-model="page" items-per-page="pembelians.meta.size" ng-change="search(searchParams)"></pagination>
							</div>
							<div class="col-md-6">
								<div class="pagination alert pull-right">Found <span ng-bind="pembelians.meta.totalElements"></span> entries</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.col -->
</div>

<script type="text/ng-template" id="pembelian.form.html">
	<div class="modal-header">
		<h3 class="modal-title">Tambah Pembelian</h3>
	</div>
	<form name="pembelianForm" ng-submit="submit(pembelian, pembelianForm)" novalidate validation-schema schema="pembelian" ng-init="pembelian.kasir =currentUser.name.first + ' ' + currentUser.name.last">
		<div class="modal-body">
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="kode">Kode Pembelian</label>
					<div class="controls">
						<input type="text" id="nomor" name="nomor" class="form-control" ng-model="pembelian.nomor" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="nama">Nama Penjual</label>
					<div class="controls">
						<input type="text" id="penjual" name="penjual" class="form-control" ng-model="pembelian.penjual" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="nama">Nomor Surat Jalan</label>
					<div class="controls">
						<input type="text" id="surat" name="surat" class="form-control" ng-model="pembelian.surat" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="stok">Penerima</label>
					<div class="controls">
						<input type="text" id="kasir" name="kasir" class="form-control" ng-model="pembelian.kasir" readonly>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<input type="submit" value="Save" class="btn btn-primary col-md-3 col-xs-12">
			<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
		</div>
	</form>
</script>
<script type="text/ng-template" id="pembelian.produk.html">
	<div class="modal-header">
		<h3 class="modal-title">Tambah Pembelian Produk <small ng-bind="'(' + pembelian.nomor + ' ' + pembelian.penjual + ')'"></small></h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<div class="form-group">
				<label class="control-label" for="produks">Produk</label>
				<div class="controls">
					<ui-select multiple ng-model="pembelian.produks" on-select="addProduk($item)" on-remove="removeProduk($item)">
						<ui-select-match placeholder="Select Produk...">{{ $item.nama }}</ui-select-match>
						<ui-select-choices repeat="produk in produks" refresh="loadProduk($select.search)">
							<div ng-bind-html="produk.nama | highlight: $select.search"></div>
							<small >
								Stok : {{produk.stok}}
								Harga : {{produk.harga}}
								Keterangan : <span ng-bind-html="produk.keterangan | highlight: $select.search"> 
								
							</small>
							<!-- <small ng-bind-html=" | highlight: $select.search"></small>
							<small ng-bind-html=" | highlight: $select.search"></small> -->
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</fieldset>
		<div class="modal-footer">
			<a href="" class="btn btn-primary col-md-3 col-xs-12" ng-click="done()">Done</a>
			<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
		</div>
	</div>
</script>
